Button {
   -fx-background-color: #ffffff;
   border-right: solid lightgray;
}

Button:last-of-type{
    border-right:none;
}

Button:hover{
    -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-cursor: hand;
}


AnchorPane{
    -fx-background-color: #ffffff;
}

.navigationBar{
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #000000;
}

Label{
    font-family: serif, "Arial";
    font-size: 14px;
    font-weight: bold;
}

/* Main window styles */
.main-window{
    -fx-background-color:#ffffff;
}

.navigation-window{
    -fx-background-color: #ffffff;
}

.menu-collapse-button{
    -fx-cursor: hand;
}

.navigation-window__section-heading{
    -fx-font-size:18px;
}

.navigation-window__button{
    -fx-font-size:16px;
}

.navigation-window__button:hover{
    -fx-background-color:#dddddd;
    -fx-text-fill: #ffffff;
    -fx-scale-x:1.0;
    -fx-scale-y:1.0;
}

.navigation-window__button:hover FontAwesomeIconView{
   -fx-fill:#ffffff;
}
.navigation-window__button.active{
   -fx-text-fill:#ffffff;
   -fx-background-color: #4e4e4e;
}

.navigation-window__button.active FontAwesomeIconView{
   -fx-fill:#ffffff;
   -fx-size: 32;
}

/* Loader Pane */
ProgressIndicator{
    -fx-background-color:rgba(0,0,0,0.75);
    -fx-progress-color:#ffffff;
    -fx-background-radius: 5;
}

/* Buttons */
.fab{
    -fx-pref-width: 50px;
    -fx-background-radius:50px;
    -fx-background-color:#03a6f2;
    -fx-pref-height: 50px;
    -fx-border-radius:50px;
}

.fab>FontAwesomeIconView{
    -fx-fill:#ffffff;
   -fx-size: 32;
}